:root {
    --link-font: 700 20px "El Messiri", sans-serif;
    --header-font: 700 36px "El Messiri", sans-serif;
    --link-color: #6079BA;
    --ascent-color: #6079BA;
    --main-color: #CBE3F4;
    --header-color: #465A8E
}

a {
    text-decoration-line: none;
    color: var(--link-color);
}

p, pre {
    text-indent: 30px;
}

html, body {
    margin: 0;
    padding: 0;

    background: #F8F8F8;

    min-height: 100vh;

    text-align: center;
    font-family: "Sofia Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    text-indent: 0px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    overflow-x: hidden;
}

.wrapper {
    max-width: 1214px;
    width: calc(100% - 66px);
    height: 100%;

    padding: 0px 33px;
    background-color: white;
}

.sub-section-title {
    max-width: 956px;
    width: 100%;
    height: 85px;

    border-top: 2px solid #648CA7;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    position: relative;
}

.sub-section-title > h2, .sub-section-title > h3 {
    width: fit-content;

    color: #648CA7;
    font: 700 24px bold ;
    font-family: "El Messiri";
    text-align: center;

    margin: 0;

    text-indent: 0px;
}

.sub-section-title > svg {
    position: absolute;
    bottom: 0;
}

.main-section-title {
    width: 720px;
    height: fit-content;
}

.main-section-title > div:first-of-type {
    transform: translate(-50px, 60px);
    z-index: 2;
    position: absolute;
}

.main-section-title > h2 {
    width: 100%;
    height: 93px;

    z-index: 1;
    position: relative;

    background-color: #DBF0FF;
    border-radius: 66px;

    color: #566CA6;
    text-align: center;
    align-content: center;
    font: var(--header-font);
}

.main-section-title > div:last-of-type {
    transform: translate(50px, -175px);
    position: absolute;
}

.working-hours {
    max-width: 460px;
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.working-hours h3 {
    width: fit-content;
    height: fit-content;

    margin: 0;
    font-weight: 900;
    color: #648CA7;
    font-size: 24px;
}

.working-hours ul {
    list-style: none;

    padding: 0;
    
}

.working-hours li {
    font-weight: 800;
    color: #69696A;
    font-size: 18px;
    text-align: left;
}

.working-hours li:not(:last-of-type) {
    margin-bottom: 10px;
}


.working-hours li > span {
    font-weight: 400;
}

.working-hours sup {
    font-size: 14px;
}

#header {
    width: calc(100% - 36px);
    height: 50px;

    display: flex;
    flex-direction: row;
    align-items: center;

    font: var(--link-font);

    margin-top: 62px;

    background-color: white;

    padding-right: 36px;

}

#header > nav:first-of-type {
    width: 50%;
    height: 100%;

    text-align: center;
    align-content: center;
}

#header > div {
    width: 205px;
    height: 50px;

    align-content: center;

    position: absolute;

    left: calc(50% - 100px);
    z-index: 1;

    font-family: Sofia Sans;
    font-weight: 500;
    font-size: 24px;
}

#header > nav:last-of-type  {
    width: 50%;
    height: 100%;

    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#header > nav:last-of-type > div:first-of-type  {
    width: 145px;
    height: 100%;
}

menu {
    position: fixed;

    top: 45px;
    right: 36px;

    z-index: 100;
}

#menu-input:checked + nav {
    display: block;
}

#menu-input + nav {
    position: absolute;
    display: none;
}

#menu-placeholder {
    width: 73px;
    height: 45px;
}

#logoSection {
    width: 100%;
    height: calc(100vh - 250px);

    padding-top: 180px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

#logoSection > :nth-child(1 of .background-button-svg) {
    position: absolute;
    transform: translate(-360px, -160px);
}

#logoSection-SVG-line-one {
    position: absolute;

    top: 22px;
    transform: translateX(-360px);
}

#logoSection > :nth-child(2 of .background-button-svg) {
    position: absolute;
    transform: translate(380px, -90px);
}

#logoSection > img {
    max-width: 583px;
    width: 100%;

    margin-bottom: 20px;
    margin-right: 30px;
}

#logoSection > h1 {
    font-family: Sofia Sans;
    font-weight: 500;
    font-style: Medium;
    font-size: 20px;
}
#logoSection > a {
    font-weight: 700;

    margin-bottom: 200px;
}

#logoSection > :nth-child(3 of .background-button-svg) {
    position: absolute;
    transform: translate(-400px, 140px);
}

#logoSection > :nth-child(4 of .background-button-svg) {
    position: absolute;
    bottom: calc(10% + 40px);
    transform: translateX(520px);
}

#logoSection-SVG-line-two {
    position: absolute;

    bottom: 10%;
    transform: translateX(430px);
}

#logoSection > svg:last-of-type {
    bottom: 50px;
    position: absolute;
}

#aboutSection {
    width: 100%;
    height: fit-content;

    display: flex;
    flex-direction: column;
    align-items: center;
}

#aboutSection > h3 {
    max-width: 986px;
    width: 100%;

    text-align: start;
    text-indent: 30px;

    margin-top: 50px;
    margin-bottom: 0;
}

#aboutSection > p {
    max-width: 986px;
    width: 100%;
    height: fit-content;
    text-align: justify;
}

#aboutSection > div:nth-of-type(2) {
    max-width: 986px;
    width: 100%;
    height: fit-content;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    margin-top: 20px;
    margin-bottom: 35px;
}

#aboutSection > :nth-child(1 of .background-button-svg) {
    position: absolute;
    transform: translate(-520px, 280px);
}

#aboutSection > div > img {
    width: 48%;
    height: 340px;

    object-fit: cover;
    object-position: 0 0;
}

#aboutSection > div:last-of-type {
    max-width: 986px;
    width: 100%;
    height: fit-content;
}

#aboutSection > div:last-of-type {
    max-width: 940px;
    width: 100%;
    height: fit-content;
}

#aboutSection > div:last-of-type > p {
    width: 100%;
    height: fit-content;
   
    text-align: justify;
}

#aboutSection > div:last-of-type > div {
    width: 100%;
    height: fit-content;
   
    display: flex;
    flex-direction: row;
    align-items: center;
}

#aboutSection > div:last-of-type > div > p {
    width: 100%;
    height: fit-content;
   
    text-align: right;

    font: 400 20px Sofia Sans, sans-serif;
    font-style: Regular;
    line-height: 150%;
    text-align: right;

    margin-right: 20px;
}

#aboutSection a {
    font-weight: 700;
}

#aboutSection > :nth-child(2 of .background-button-svg) {
    position: absolute;
    transform: translate(650px, 680px);
}

#aboutSection > svg:last-of-type {
    margin: 70px 0;
}

#reviewSection {
    width: 100%;
    height: fit-content;

    display: flex;
    flex-direction: column;
    align-items: center;
}

#priceListSection {
    width: 100%;
    height: fit-content;

    display: flex;
    flex-direction: column;
    align-items: center;
}

#priceListSection > :nth-child(1 of .background-button-svg) {
    position: absolute;
    transform: translate(-380px, 180px);
}

#priceListSection > div:nth-of-type(2) {
    max-width: 900px;
    width: 100%;

    height: 220px;
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;

    margin-right: 80px;
}

#priceListSection > div:nth-of-type(2) > p {
    max-width: 620px;
    width: calc(100% - 177px);
    height: fit-content;

    text-align: right;
    color: #42454D;
    line-height: 180%;
    font-size: 20px;

    margin: 70px 0 100px 0;
}

#priceListSection > div:nth-of-type(2) > p > strong {
    color: #648CA7;
    font-size: 24px;
}

#priceListSection > label {
    width: 65%;
    height: fit-content;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin-top: 27px;

    position: relative;
}

#priceListSection > label:last-of-type {
    margin-bottom: 40px;
}

#priceListSection .price-item-title {
    width: 380px;
    height: 66px;

    border-radius: 40px;
    
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    align-content: center;
    z-index: 2;
}

#priceListSection input:checked + div + div + table {

    width: 100%;
    height: fit-content;

    display: table;
    border-spacing: 0 25px;

    padding: 64px;

    background-color: #EBF7FF;

    transform: translateY(-33px);

    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    
    line-height: 120%;
    color: #465A8E;
}

#priceListSection input:checked + .price-item-title {
    background-color: #7D96A7;
    color: white;

    box-shadow: 0px -6px 0px 0px #465A8E66 inset;
}

#priceListSection input:not(:checked) + .price-item-title {
    background-color: white;
    color: #6079BA;
    border-width: 2px;
    border-radius: 60px;
    border-image: url("data:image/svg+xml;utf8,\<svg xmlns='http://www.w3.org/2000/svg' width='10' height='10'>\ <line x1='0' y1='5' x2='10' y2='5' stroke='black' stroke-width='4' stroke-dasharray='4 6'/>\</svg>") 4 round;
}

#priceListSection input:not(:checked) + div + div{
    display: none;
}

#priceListSection input:not(:checked) + div + div + table + div{
    display: none;
}

#priceListSection table {
    display: none;
}

#priceListSection .bottom-angle-detail {
    width: 50%;
    height: 60%;

    position: absolute;

    bottom: 27px;
    left: -3px;
    z-index: 1;
}

#priceListSection .bottom-angle-detail > div:first-of-type {
    width: 6px;
    height: 100%;

    background-color: #6079BACC;

    position: absolute;
    left: 0;
    bottom: 0;

    border-radius: 40px;
    border-bottom-right-radius: 0;
}

#priceListSection .bottom-angle-detail > div:last-of-type {
    width: 100%;
    height: 6px;

    background-color: #6079BACC;

    position: relative;
    top: calc(100% - 6px);
    left: 6px;

    border-radius: 40px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

#priceListSection > label > table tr > td:nth-of-type(1) {
    width: auto;
    text-align: left;
    font-weight: 800;
}

#priceListSection > label > table tr > td:nth-of-type(2) {
    width: 200px;
    text-align: right;
    font-weight: 600;
}

#priceListSection .top-angle-detail {
    width: 50%;
    height: 70%;

    position: absolute;

    top: 27px;
    right: -6px;
    z-index: 1;
}

#priceListSection .top-angle-detail > div:first-of-type {
    width: 12px;
    height: 100%;

    background-color: #7D96A7;

    position: absolute;
    right: 0;

    border-radius: 40px;
}

#priceListSection .top-angle-detail > div:last-of-type {
    width: 100%;
    height: 12px;

    background-color: #7D96A7;

    position: relative;
    top: 0;

    border-radius: 40px;
}

#priceListSection > img {
    width: auto;
    height: auto;

    margin: 100px 0 140px 0;
}

#gallerySection {
    width: 100%;
    height: fit-content;

    display: flex;
    flex-direction: column;
    align-items: center;
}

#gallerySection > div:nth-of-type(2) {
    max-width: 827px;
    width: 100%;
    height: fit-content;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    margin-top: 20px;
}

#gallerySection > div:nth-of-type(2) > svg {
    filter: drop-shadow(2px 2px 1px #6079BA4D);
}

#gallerySection > div:nth-of-type(2) > p {
    text-align: right;
    color: #648CA7;
    font-weight: 700;
}

#gallerySection > div:nth-of-type(2) span {
    font-weight: 400;
    color: #536B7C;
}

#gallerySection > div:nth-of-type(3) {
    width: 100%;
    height: 350px;
}

#gallerySection > img {
    margin: 135px 0;
}

#qnaSection {
    width: 100%;
    height: fit-content;

    display: flex;
    flex-direction: column;
    align-items: center;
}

#qnaSection label {
    margin-top: 30px;
}

#qnaSection section {
    width: fit-content;
    height: fit-content;

    display: flex;
    flex-direction: row;
}

#qnaSection section > div:first-of-type {
    max-width: 500px;
    width: fit-content;
    height: auto;

    padding: 25px 15px 31px 15px;

    background-color: white;

    border: 2px solid #6079BA;
    border-radius: 40px;

    box-shadow: 0px -11px 0px 0px #CBDCEB inset;

    background-color: white;

    align-content: center;
}

#qnaSection section > div:last-of-type {
    max-width: 500px;
    width: fit-content;
    height: auto;

    padding: 25px 15px 31px 15px;
    border: 2px solid #6079BA;
    border-left: none;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;

    background-color: #EBF7FF;

    align-content: center;
    justify-items: center;
}

#qnaSection input:not(:checked) + section > div:last-of-type {
    display: none;
}

#qnaSection input:checked + section > div:first-of-type {
    box-shadow: 11px 0px 0px 0px #EBF7FF inset;

    border-right: none;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;

    padding-left: 31px;
}

#qnaSection input:checked + section > div:last-of-type {
    display: block;
}

#qnaSection section > div > p {
    max-width: 380px;
    width: 100%;

    height: fit-content;

    margin: 0;

    text-align: center;
    text-indent: 0;
    color: #566CA6;
}

#qnaSection img {
    margin: 140px 0;
}


#contactsSection {
    width: 100%;
    height: fit-content;

    display: flex;
    flex-direction: column;
    align-items: center;
}

#contactsSection > div:nth-of-type(2) {
    max-width: 950px;
    width: 100%;

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}

#contactsSection > div:nth-of-type(2) > div:nth-of-type(1) {
    max-width: 450px;
    width: 50%;
}

#contactsSection > div:nth-of-type(2) h3 {
    font-size: 32px;
}

#contactsSection > div:nth-of-type(2) > div:nth-of-type(2) {
    max-width: 400px;
    width: 50%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#contactsSection > div:nth-of-type(2) > div:nth-of-type(2) div {
    text-align: start;
}

#contactsSection > div:nth-of-type(2) > div:nth-of-type(2) h3 {
    margin: 0;
    color: #6079BA;
}

#contactsSection > div:nth-of-type(2) > div:nth-of-type(2) p {
    font-weight: 800;
    color: #6E7380;
    text-indent: 0px;
    font-size: 20px;
    line-height: 150%;
}

#contactsSection > div:nth-of-type(2) > div:nth-of-type(2) span {
    font-weight: 400;
    font-size: 18px;
}

#map {
    width: 100%;
}

#footer {
    max-width: 1280px;
    width: 100%;

    padding: 70px 0 100px 0;
    background-color: #EFF8FF;
}

@media screen and (width <= 1030px) {
    #header > nav:last-of-type > a:last-of-type {
        display: none;
    }
}

@media screen and (width <= 980px) {
    #priceListSection > label {
        width: 90%;
    }
}

@media screen and (width <= 810px) {
    #header > nav:last-of-type, #header > nav:first-of-type {
        display: none;
    }
}