:root {
    --link-font: 700 20px "El Messiri", sans-serif;
    --header-font: 700 36px "El Messiri", sans-serif;
    --link-color: #6079BA;
    --ascent-color: #6079BA;
    --main-color: #CBE3F4;
}

a {
    text-decoration-line: none;
    color: var(--link-color);
}

p, pre {
    text-indent: 30px;
}

html, body {
    margin: 0;
    padding: 0;

    background: #F8F8F8;

    min-height: 100vh;

    text-align: center;
    font-family: "Sofia Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    text-indent: 0px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    overflow-x: hidden;
}

.wrapper {
    max-width: 1280px;
    width: calc(100% - 66px);
    height: 100%;

    padding: 0px 33px;
    background-color: white;
}

.sub-section-title {
    max-width: 956px;
    width: 100%;
    height: 85px;

    border-top: 1px solid #69696A;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    position: relative;
}

.sub-section-title > h2, .sub-section-title > h3 {
    width: fit-content;

    color: #69696A;
    font: 700 24px bold ;
    font-family: "El Messiri";
    text-align: center;

    margin: 0;

    text-indent: 0px;
}

.sub-section-title > svg {
    position: absolute;

    bottom: 0;
}

.main-sections-headers {
    width: 720px;
    height: 93px;

    background-color: var(--main-color);
    border-radius: 66px;

    text-align: center;
    align-content: center;
    font: var(--header-font);
}

.sectionTitle {
    color: #465A8E;
}

.main-section-title > div:first-of-type {
    transform: translate(-50px, 60px);
    z-index: 2;
    position: absolute;
}

.main-section-title > h2 {
    z-index: 1;
    position: relative;
}

.main-section-title > div:last-of-type {
    transform: translate(50px, -175px);
    position: absolute;
}

#header {
    width: calc(100% - 36px);
    height: 50px;

    display: flex;
    flex-direction: row;
    align-items: center;

    font: var(--link-font);

    margin-top: 62px;

    background-color: white;

    padding-right: 36px;

}

#header > nav:first-of-type {
    width: 50%;
    height: 100%;

    text-align: center;
    align-content: center;
}

#header > div {
    width: 205px;
    height: 50px;

    align-content: center;

    position: absolute;

    left: calc(50% - 80px);
    z-index: 1;

    font-family: Sofia Sans;
    font-weight: 500;
    font-size: 24px;
}

#header > nav:last-of-type  {
    width: 50%;
    height: 100%;

    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#header > nav:last-of-type > div:first-of-type  {
    width: 145px;
    height: 100%;
}

menu {
    position: fixed;

    top: 45px;
    right: 36px;
}

#menu-input:checked + nav {
    display: block;
}

#menu-input + nav {
    position: absolute;
    display: none;
}

#menu-placeholder {
    width: 73px;
    height: 45px;
}

#logoSection {
    width: 100%;
    height: calc(100vh - 250px);

    padding-top: 180px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

#logoSection-SVG-line-one {
    position: absolute;

    top: 22px;
    transform: translateX(-360px);
}

#logoSection  > h1 {
    font-family: Sofia Sans;
    font-weight: 500;
    font-style: Medium;
    font-size: 20px;
}

#logoSection  > img {
    width: 583px;
    height: 256px;

    margin-bottom: 20px;
    margin-right: 30px;
}

#logoSection > a {
    font-weight: 700;

    margin-bottom: 200px;
}

#logoSection-SVG-line-two {
    position: absolute;

    top: 670px;
    transform: translateX(430px);
}

#logoSection > svg:last-of-type {
    bottom: 50px;
    position: absolute;
}

#aboutSection {
    width: 100%;
    height: fit-content;

    display: flex;
    flex-direction: column;
    align-items: center;
}

#aboutSection > p {
    max-width: 825px;
    width: 100%;
    height: fit-content;
    text-align: justify;
}

#aboutSection > div:nth-of-type(2) {
    width: 1020px;
    height: fit-content;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    margin-top: 20px;
    margin-bottom: 35px;
}

#aboutSection > div > img {
    width: 480px;
    height: 340px;
}

#aboutSection > div:last-of-type {
    max-width: 825px;
    width: 100%;
    height: fit-content;
}

#aboutSection pre {
    width: 100%;
    height: fit-content;
   
    text-align: right;

    font: 400 20px Sofia Sans, sans-serif;
    font-style: Regular;
    line-height: 150%;
    text-align: right;
}

#aboutSection a {
    font-weight: 700;
}

#aboutSection svg:last-of-type {
    margin: 70px 0;
}

#reviewSection {
    width: 100%;
    height: fit-content;

    display: flex;
    flex-direction: column;
    align-items: center;
}

#priceListSection {
    width: 100%;
    height: fit-content;

    display: flex;
    flex-direction: column;
    align-items: center;
}

#priceListSection > p {
    width: 850px;
    height: fit-content;

    text-align: right;
}

#priceListSection > label {
    width: 65%;
    height: fit-content;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin-top: 27px;

    position: relative;
}

#priceListSection > label:last-of-type {
    margin-bottom: 40px;
}

#priceListSection > label > div:first-of-type {
    width: 380px;
    height: 66px;

    border-radius: 40px;
    
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    align-content: center;
    z-index: 2;
}

#priceListSection > label > input:checked + div + div + table {

    width: 100%;
    height: fit-content;

    display: table;
    border-spacing: 0 25px;

    padding: 64px;

    background-color: var(--main-color);

    transform: translateY(-33px);

    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    
    line-height: 120%;
    color: #465A8E;
}

#priceListSection > label > input:checked + div {
    background-color: var(--ascent-color);
    color: white;
}

#priceListSection > label > input:not(:checked) + div {
    background-color: white;
    color: var(--ascent-color);
    border: 2px solid var(--ascent-color);

    box-shadow: inset 0 -8px 0 #CBDCEB;
}

#priceListSection > label > input:not(:checked) + div + div{
    display: none;
}

#priceListSection > label > input:not(:checked) + div + div + table + div{
    display: none;
}

#priceListSection > label > table {
    display: none;
}

#priceListSection .bottom-angle-detail {
    width: 50%;
    height: 60%;

    position: absolute;

    bottom: 27px;
    left: -6px;
    z-index: 1;
}

#priceListSection .bottom-angle-detail > div:first-of-type {
    width: 12px;
    height: 100%;

    background-color: var(--ascent-color);

    position: absolute;
    left: 0;
    bottom: 0;

    border-radius: 40px;
}

#priceListSection .bottom-angle-detail > div:last-of-type {
    width: 100%;
    height: 12px;

    background-color: var(--ascent-color);

    position: relative;
    top: calc(100% - 12px);
    left: 0;

    border-radius: 40px;
}

#priceListSection > label > table tr > td:nth-of-type(1) {
    width: auto;
    text-align: left;
}

#priceListSection > label > table tr > td:nth-of-type(2) {

    width: 200px;
    text-align: right;
}

#priceListSection .top-angle-detail {
    width: 50%;
    height: 70%;

    position: absolute;

    top: 27px;
    right: -6px;
    z-index: 1;
}

#priceListSection .top-angle-detail > div:first-of-type {
    width: 12px;
    height: 100%;

    background-color: var(--ascent-color);

    position: absolute;
    right: 0;

    border-radius: 40px;
}

#priceListSection .top-angle-detail > div:last-of-type {
    width: 100%;
    height: 12px;

    background-color: var(--ascent-color);

    position: relative;
    top: 0;

    border-radius: 40px;
}

#gallerySection {
    width: 100%;
    height: fit-content;

    display: flex;
    flex-direction: column;
    align-items: center;
}

#gallerySection {
    width: 100%;
    height: fit-content;

    display: flex;
    flex-direction: column;
    align-items: center;
}

#qnaSection {
    width: 100%;
    height: fit-content;

    display: flex;
    flex-direction: column;
    align-items: center;
}

#contactsSection {
    width: 100%;
    height: fit-content;

    display: flex;
    flex-direction: column;
    align-items: center;
}

#workTimeSection {
    width: 100%;
    height: fit-content;

    display: flex;
    flex-direction: column;
    align-items: center;
}